body, html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
    text-align: center;
    padding: 20px;
}

.input-wrapper, .result-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.output-wrapper {
    background-color: white;
    opacity: 0.8;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 200px;
    text-align: center;
}

#hex {
    padding: 12px;
    width: 200px;
    font-size: 16px;
    border: 1px solid #ccc;
}

#rgb, #error {
    font-size: 16px;
}

.hidden {
    display: none;
}
